.font-size--x {
  font-size: 30px;
}

.color--white {
  color: #fff;
}

.text-align--center {
  text-align: center;
}

.letter-spacing--1 {
  letter-spacing: 1px;
}

.line-height--35px {
  line-height: 40px;
}
