#Navbar {
  height: 100px;
  min-width: 500px;
  width: 60%;

  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Navbar span {
  font-size: 23px;
  color: #fff;
}
