@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flex {
  display: flex;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction--column {
  flex-direction: column;
}

.color--white {
  color: #fff;
}
